<div class="card">
  <div class="card-header"><strong>Task List</strong></div>
  <div class="card-body">
    <table class="table border">
      <thead>
        <th>Sl No</th>
        <th>Task Name</th>
        <th>Date</th>
        <th>status</th>
        <th>Action</th>
      </thead>
      <tbody *ngFor="let taskDetails of filterTask; index as datano">
        <td>{{ datano + 1 }}</td>
        <td>{{ taskDetails.task }}</td>
        <td>{{ taskDetails.cValue }}</td>
        <td>{{ taskDetails.status }}</td>
        <td>
          <i
            class="bi bi-check"
            *ngIf="taskDetails.status == 'Incompleted'"
            (click)="onStatusChange(taskDetails.id)"
          ></i>
          <i
            class="bi bi-check-all"
            *ngIf="taskDetails.status == 'Completed'"
          ></i>
          <i
            class="bi bi-pencil-square p-3"
            alt="Edit"
            (click)="
              onEditHandler(
                taskDetails.id,
                taskDetails.task,
                taskDetails.cValue,
                taskDetails.status
              )
            "
          ></i>
          <i
            class="bi bi-trash-fill"
            alt="Delete"
            (click)="onDeleteHandler(taskDetails.id)"
          ></i>
        </td>
      </tbody>
    </table>
  </div>
</div>
